page-home {
    .card-header-md{
        padding: 5px;
    }
    .card-content-md {
        padding: 7px;
    }
    .card-md{
        border-radius: 5px;
        box-shadow: -1px 3px 2px 0 rgba(0, 0, 0, 0.05);
        border: 1px solid #eee;
    }    
    ion-col.col {
        padding: 0;
    }    
}
